.login-window {
  width: 40%;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  margin-top: 40px;
}

.login-title-container {
  width: 80%;
}

.login-tiltle {
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
}

.login-form {
  width: 80%;
  margin-top: 33px;
}

.login-links-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-button {
  background-color: #4aa35a;
  width: 80%;
  height: 48px;
  margin-top: 34px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.login-button span {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
}
