.forgetPassword-window {
  width: 40%;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgetPassword-logo {
  margin-top: 40px;
}

.forgetPassword-title-container {
  width: 80%;
}

.forgetPassword-tiltle {
  margin-top: 25px;
  font-weight: 700;
  font-size: 25px;
}

.forgetPassword-form {
  width: 80%;
  margin-top: 33px;
}

.forgetPassword-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.forgetPassword-button {
  background-color: #4aa35a;
  width: 80%;
  height: 48px;
  margin-top: 34px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.forgetPassword-button span {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: none;
}
