.secTitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(240, 255, 239, 1);
  margin-top: 50px;
  padding-block: 50px;
  padding-inline: 50px;
}

.secTitle-title {
  font-weight: 500;
  font-size: 24px;
}

.secTitle-subTitle {
  color: rgba(0, 146, 71, 1);
}
.secTitle-text {
  font-weight: 400;
  font-size: 16px;
}
.secTitle-button {
  background: rgba(0, 146, 71, 1);
  border-radius: 12px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  padding-inline: 57px;
  padding-block: 13px;
}
